.header {
  position: relative;
  display: grid;
}

.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__item input:checked ~ .popup {
  display: flex;
}

.header__item input:checked ~ label,
.header__item input:focus ~ label {
  background-color: $orange;
}

.header__item input:checked ~ label svg,
.header__item input:focus ~ label svg {
  fill: $white;
}

.header__item {
  margin-left: 20px;

  &--icon:nth-last-child(-n + 2) {
    margin-left: 5px;
  }
}

.header__item:hover > label,
.header__item:focus > label,
.header__item--icon .header__link:hover,
.header__item--icon .header__link:focus {
  background-color: $orange;
  cursor: pointer;
}

.header__item:hover > label svg,
.header__item:focus > label svg,
.header__item--icon .header__link:hover svg,
.header__item--icon .header__link:focus svg {
  fill: $white;
}

.header__item--icon .header__link,
.header__item--icon .header__link > label {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  outline: none;
  transition: color 0.1s linear;

  &:hover,
  &:focus {
    color: $orange;
  }
}

.header__link--user img {
  border-radius: 50%;
}

.header__link svg {
  fill: $black;
}

.header__btn {
  position: relative;
  display: none;
  height: max-content;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
}
