*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: $yellow;
  color: $black;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.form-radio input[type="radio"],
.form-checkbox input[type="checkbox"],
input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
